/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}

body {
    background-color: #8e44ad;
     /* background-image: url("../images/bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 99vh;
    position: relative;  */

/* 
}
.row{
    width: 40%;
    
}
img{
    height: 100%
}

ul{
    list-style: none;
    padding-top: 20px;
}
ul li:hover{   
     color:#8e44ad;

}
ul li i{
    font-size: 20px;
} 
 */ 
